.m-20 {
margin: 90px;
}

.header_font {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
}

.option {
font-size: 12pt;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-decoration: none;
color: blanchedalmond;
}


.nav_font {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: large;
color: $black;
}


.welcome_boxtext{
font-family:'Times New Roman', Times, serif;
font-size: 20pt;
color:azure;
}


.bt_form{
font-size: 18pt;
font-family: 'Times New Roman', Times, serif;
}

.history_intro{
margin-bottom: 40pt;
font-family: 'Times New Roman', Times, serif;
font-size: 30pt;
}

.history_text {
margin-right: 30pt;
margin-left: 30pt;
color: whitesmoke;
}

.history_border {
border: solid 1pt;
color: $black;
border-radius: 3% 3% 3% 3%;
}



.intro_font {
font-family:'Times New Roman', Times, serif;
font-size: 35pt;
}

.form_font{
font-family: 'Times New Roman', Times, serif;
font-size: 15pt;
color: azure;
}

.form_input{
font-family: 'Times New Roman', Times, serif;
font-size: 15pt;
color:black;
}

.logo_font{
font-family:fantasy;
font-size:35pt;
}

.form_button{
margin-top: 20pt;
}

.resinfo_font{
font-family: 'Times New Roman', Times, serif;
color: black;
}

.form__dif{
width:190pt;
height: 26pt;
}